<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GpsVisualizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GpsVisualizer.Properties.Settings>
            <setting name="CONTROL_LINE_WIDTH" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TRACK_LINE_WIDTH" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CONTROL_LINE_COLOR" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="TRACK_COUNT" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="GRID_PITCH" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="GRID_LINE_COLOR" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="GRID_TEXT_COLOR" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GRID_TEXT_SHADOW_COLOR" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TRACK_LINE_COLOR" serializeAs="String">
                <value>Red</value>
            </setting>
        </GpsVisualizer.Properties.Settings>
    </applicationSettings>
</configuration>